@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-brand-bordo: #67161f;
  --color-brand-gold: #9e7557;
  --color-brand-gray: #262626;
  --color-brand-cream: #e0dcd0;
  --color-brand-lightgray: #e9e7e1;
  --color-brand-monolightgray: #eeebe2;

  --heading-2-size: clamp(40px, 6vw, 80px);

  --heading-3-size: clamp(20px, 2.2vw, 28px);

  --heading-4-size: clamp(18px, 1.4vw, 22px);

  --heading-5-size: clamp(26px, 2vw, 33px);

  --heading-6-size: clamp(14px, 1.8vw, 18px);

  --heading-7-size: clamp(122px, 9vw, 144px);
}

@utility font-kudriashov {
  font-family: var(--font-kudriashov);
}
@utility font-alexandra {
  font-family: var(--font-alexandra);
}
@utility font-grava {
  font-family: var(--font-grava);
}
@utility font-newstandard {
  font-family: var(--font-newstandard);
}
@utility font-allegretto {
  font-family: var(--font-allegretto);
}

@utility heading-2 {
  font-size: var(--heading-2-size);
  line-height: 0.89;
  letter-spacing: -0.1em;
  @apply font-kudriashov text-brand-gray;
}

@utility heading-3 {
  font-size: var(--heading-3-size);
  line-height: 0.89;
  letter-spacing: -0.05em;
  @apply font-grava text-brand-bordo;
}

@utility heading-4 {
  font-size: var(--heading-4-size);
  line-height: 0.92;
  letter-spacing: -0.02em;
  @apply font-newstandard text-brand-gray;
}

@utility heading-5 {
  font-size: var(--heading-5-size);
  line-height: 1;
  letter-spacing: -0.02em;
  @apply font-allegretto text-brand-bordo opacity-50;
}

@utility heading-6 {
  font-size: var(--heading-6-size);
  line-height: 1.05;
  letter-spacing: 0;
  @apply font-newstandard text-brand-gray opacity-50;
}

@utility heading-bg {
  font-size: var(--heading-7-size);
  line-height: 1.05;
  letter-spacing: 0;

  @apply font-alexandra text-brand-lightgray;
  text-shadow: 1px 1px 2px var(--color-brand-monolightgray);
}
